@import 'variables';
@import 'reset';
@import 'functions';
// @import 'flex';

body {
    font-family: 'Source Sans Pro', sans-serif;

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Ubuntu', sans-serif;    
    }

    .btn-bwoke {
        background: none;
        border: 1px solid #333;
        color: #333;
        padding: 10px 40px;
        max-width: 200px;
        transition: all 0.3s ease-in;

        &:hover {
            background: #333;
            color: #fff;
        }
    }
} 

main {

    section {
        margin: 25px 0;
    }

    header {
        // height: 100vh;

        section {

            img {
                border: 15px solid #333;
            }
        }

        .start-section {

            @media screen and (max-width: 767px) {
                // height: 100vh;
                // padding-top: 45%;
            }
        }
    }

    #user-interaction {

        .btn-multichoice {
            transition: all 0.3s ease-in;
            
            &.active {
                background: #6ace8b;
                border-color: #4a9262;
            }
        }
    }
}