body {
    font-family: 'Source Sans Pro', sans-serif;
    background: #f7f1e4;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
}

.fixed-pic .logo-link-wrapper .bwoke-logo {
    width: 200px;
    height: 200px;
    margin-top: 25px;
    margin-left: 80px;
}

header,
#user-interaction,
#analysis {
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vector-half-circle {
    position: absolute;
    right: 100px; 
    top: 100px;
}

.vector-half-circle svg {
    fill: rgb(237, 203, 194);
    width: 230px;
    height: 115px;
    /* animation: spin 4s linear infinite; */
}

@-moz-keyframes spin { 
    100% {
        -moz-transform: rotate(360deg);
    } 
}
@-webkit-keyframes spin { 
    100% {
        -webkit-transform: rotate(360deg); 
    } 
}
@keyframes spin { 
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg); 
    } 
}

.main-heading {
    font-size: 45px;
    margin-bottom: 25px;
}

.subheading {
    font-size: 18px;
    font-weight: 300;
}


.btn-bwoke {
    background: none;
    border: 1px solid #333;
    color: #333;
    margin: 25px 0;
    padding: 10px 40px;
    max-width: 200px;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
      
.btn-bwoke:hover {
    background: #333;
    color: #fff;
}
  
main section {
    margin: 25px 0;
}
  
main header section img {
    border: 15px solid #333;
}
  
main header .start-section {
    padding-top: 20%;
}
  
main #user-interaction {
    display: none;
}

main #user-interaction h1 {
    margin-top: 45px;
}

  
main #analysis {
    display: none;
}



.triangle-vector svg {
    fill: rgba(191, 191, 34, 1)
}

.tooltip-inner {
    background: #fff;
    color: #000;
    padding: 25px;
    font-size: 16px;
    max-width: 800px;
}


.box {
    display: none;
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    border-style: solid;
    border-color: #ff5722;
    /* Currently the whole screen is shadowed when a cursor is over it. 
    Maybe we don't need this part or we may want to shadow only the image. */
    box-shadow: inset 0 0 1000px rgba(255, 255, 255, .15);
    pointer-events: none;
  }

#skin-tone-warmed {
    top: 22%;
    left: 28%;
    width: 250px;
    height: 250px;
}
  
#cut-out-image {
    top: 12%;
    left: 70%;
    width: 77px;
    height: 124px;
}
  
#skin-smoothed {
    top: 40%;
    left: 51%;
    width: 74px;
    height: 64px;
}

#composite-image {
    top: 4px;
    left: 48px;
    width: 500px;
    height: 500px;
}

#lips-enlarged {
    top: 55%;
    left: 40%;
    width: 100px;
    height: 55px;
}

#sharpening {
    top: 20%;
    right: 0;
    height: 200px;

}


.content-section-cols {
    margin-top: 5%;
}

  .btn-multichoice-wrapper .row {
      margin: 25px 0;
  }


#user-interaction .btn-multichoice {
    margin: 0 20px;
    background: rgba(206, 192, 221, 1);
    width: 139px;
    height: 120px;
    position: relative;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

#user-interaction .btn-multichoice:hover {
    background: rgba(229, 200, 175, 1);
}

#user-interaction .btn-multichoice.active {
    background:rgba(234, 234, 170, 1);
    border-color: rgb(197, 197, 135);
}

#user-interaction .btn-multichoice svg {
    width: 36px;
    height: 36px;
    position: absolute;
    right: -10px;
    bottom: -8px;
    transform: rotate(30deg);
    
}

#analysis .explanation p {
    padding: 10px;
    font-size: 21px;
}

.group-images {
    display: none;
}

.group-images img {
    width: 100%;
    height: 520px;
}

.answer-result {
    color: rgba(191, 191, 34, 1);
}

.multichoice-answer {
    display: none;
}

.multichoice-answer p {
    font-size: 18px;
}

.pre-edit-image {
    display: none;
    width: 90%;
}